---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout>
  <Hero />
  <section class="contact-page-wrap section-padding">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-contact-card card1">
            <div class="top-part">
              <div class="icon">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="title">
                <h4>Email Address</h4>
                <span>Sent mail asap anytime</span>
              </div>
            </div>
            <div class="bottom-part">
              <div class="info">
                <p>ommurugaprintershsr@gmail.com</p>
                <p>ommurugaprintershsr@gmail.com</p>
              </div>
              <div class="icon">
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-contact-card card2">
            <div class="top-part">
              <div class="icon">
                <i class="fas fa-phone"></i>
              </div>
              <div class="title">
                <h4>Phone Number</h4>
                <span>call us asap anytime</span>
              </div>
            </div>
            <div class="bottom-part">
              <div class="info">
                <p>+919655449982</p>
                <p>+919655449982</p>
              </div>
              <div class="icon">
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12">
          <div class="single-contact-card card3">
            <div class="top-part">
              <div class="icon">
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="title">
                <h4>Office Address</h4>
                <span>Sent mail asap anytime</span>
              </div>
            </div>
            <div class="bottom-part">
              <div class="info">
                <p>72/G,Jaishankar Colony</p>
                <p>Annna Nagar,Hosur-635109</p>
              </div>
              <div class="icon">
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section Start -->
  <section class="contact-section-2 fix section-padding pt-0">
    <div class="container">
      <div class="contact-form-items">
        <div class="title text-center">
          <h2 class="split-text right">Let’s Get in Touch</h2>
          <p>
            Your email address will not be published. Required fields are marked
            *
          </p>
        </div>
        <form action="contact.php" id="contact-form" method="POST">
          <div class="row g-4">
            <div class="col-lg-6">
              <div class="form-clt">
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Your Name*"
                />
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-clt">
                <input
                  type="text"
                  name="email"
                  id="email"
                  placeholder="Your Email*"
                />
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-clt">
                <input
                  type="text"
                  name="text"
                  id="text"
                  placeholder="Website*"
                />
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-clt">
                <textarea
                  name="message"
                  id="message"
                  placeholder="Write Message*"></textarea>
              </div>
            </div>
            <div class="col-lg-7">
              <button type="submit" class="theme-btn">
                SEND YOUR MEASSAGE
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- Map Section Start -->
  <div class="office-google-map-wrapper wow fadeInUp">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4454.213498489252!2d77.8278488!3d12.7306288!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae71c017cd924d%3A0x72bafeb0dccc869c!2sOm%20Muruga%20Printers!5e1!3m2!1sen!2sin!4v1761275181406!5m2!1sen!2sin"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"></iframe>
  </div>
</Layout>
