<section
  class="cta-contact-section fix pt-5 pb-5 bg-cover"
  style="background-image: url('/assets/img/cta-bg.png');"
>
  <div class="container">
    <div class="cta-contact-item">
      <h2 class="split-text right">Looking For The Best Printing Company?</h2>
      <a href="contact.html" class="theme-btn">GET A QUOTE</a>
    </div>
  </div>
</section>
